<ion-header>
  <ion-toolbar>
    <ion-title>
      App_Votação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="Caixa1">
    <h2>Nome</h2>
    <br>
    <ion-input [(ngModel)] = "nome" placeholder = "--Insira o nome aqui--"></ion-input>
    <br>
    <h2>Senha</h2>
    <br>
    <ion-input [(ngModel)] = "senha" placeholder = "--Insira a Senha aqui--"></ion-input>
    <br>
    <ion-button>Entrar</ion-button>
    </div>
    <h3>Não possui cadastro? <a href="home">Cadastre-se agora!</a></h3>

</ion-content>
